{
  "presets": ["@babel/preset-env", 
    [
      "@babel/preset-react", {
        "throwIfNamespace": false,
        "runtime": "automatic",
        "importSource": "react"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@emotion/babel-plugin"
  ]
}
