.pruebaEmotion{
    width:            500px;
    height:           300px;
    background-color: black;
    color:            white;
    font-family:      Courier New;
    outline:          none;
    border:           1px solid white;
    border-radius:    0px;
    resize:           none;
}

.espacio{
    background-color: white;
}
.espacio > img{
    width: 600px;
    height: 70px;
}

.pruebaEmotion2{
    width:            500px;
    height:           300px;
    background-color: white;
    color:            black;
    font-family:      Arial;
}

.laboratorioStyle {display: flex;
    flex-direction:column;
    align-items:center;
    background-color:#153645;
}

.estiloCompleto{
    display: grid;
    background: white;
    color: white;
    text-align:center;
    grid-template-columns: 1fr;
}

.editor{
  margin-top: 20px;
  display: flex;
    flex-direction:row;
  }

.paper{
    background:     white;
    width:          900px;
    height:         900px;
    margin-left:    3%;
    margin-top:     3%;
    border:         2px solid black;
    display:        flex;
    flex-direction: column;
    align-items:    center;
  }

.boton{
    background-color: #B60114;
    border:           1px #B60114 solid;
    height:           20px;
    position:         relative;
    font-family:      'Fira Code', monospace;
    font-size:        12px;
    color:            #FFFFFF;
    text-align:       center;
    width:            200px;
  }
.boton:hover{
    cursor:           pointer;
    background-color: #FFFFFF;
    color:            black;
}