@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 :root {
    --main-color: #B50013;
    --secondary-color: #113743;
    --accent-color-black: #181A1B;
    --accent-color-white: #E4E3DB;
    --titles-important: 'Poppins', sans-serif;
    --subtitles: 'Merriweather Sans', sans-serif;
    --text: 'Hind Madurai', sans-serif;
}
/*
 * Menu.css
 */

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    min-width: 200px;
    min-height: 30px;
}

.title {
    color: var(--accent-color-white);
    padding: 10px;
    font-size: 30px;
    font-family: var(--titles-important);
}

.content {
    display: flex;
    width: 100%;
    height: 100vh;
}

.options {
    word-break: break-word;
    background: var(--main-color);
    height: 100%;
    width: 20%;
    min-width: 250px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options > img {
    height: 100px;
    margin-top: 20px;
}

.search-bar {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: medium;
    font-size: 16px;

    width: 60%;
    padding: 10px 0px;
    color: var(--accent-color-white);

    margin: 10px;
    border: none;
    border-bottom: 0.125rem solid var(--accent-color-white);
    outline: none;
    background: transparent;
}

.search-bar::placeholder{
    color: var(--accent-color-white);
}

.option-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-list > button {
    text-align: start;
    color: var(--accent-color-white);
    background-color: var(--main-color);
    border-color: transparent;

    font-family: var(--subtitles);
    padding: 0.5em;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
}

.option-list > *:hover {
    background-color: var(--accent-color-black);
    transition: ease 0.5;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.container {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    min-width: 250px;
    background-color: white;
}

.popup {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.popup-text {
    text-align: center;
    font-weight: bold;
}

.btn-close{
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #113743;
    max-width: 35px;
    max-height: 35px;
    margin-left: -10px;
    margin-top: 165px;
}

.popup-body {
    font-family: 'Fira Code', monospace;
    background-color: white;
    border-radius: 10px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 35%;
    max-width: 450px;
}

#identation-input{
    color: #181A1B;
    text-align: center;
    border: 1px solid #113743;
    max-height: 10px;
    max-width: 50px;
    border-radius: 10px;
}

#dark-mode-checkbox{
    min-height: 15px;
    min-width: 15px;
    margin-bottom: 0;
}

.titulo-popup{
    font-weight: bolder;
    padding: 20px;
    font-size: 50px;
}
