*, *::before, *::after {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 5vh;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.header-title {
  color: white;
  font-size: 24px;
  font-family: var(--titles-important);
}

aside {
  position: fixed;
  width: 16.5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

aside > img {
  width: 35%;
  margin-top: 20px;
}

aside > .theme-aside-button {
  border: none;
  color: white;
  font-size: 14px;
  font-family: var(--subtitles);
  background-color: #b50013;
  padding: 10px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.25, 1, 0.30, 1);
  cursor: pointer;
}

aside > .theme-aside-button:hover {
  background-color: var(--accent-color-black);
  transition: ease 0.5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.themes-main {
  position: fixed;
  left: 16.5%;
  width: 83.5%;
  height: 100vh;
  background-color: #E4E3DB;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-template-rows: 400px;
  place-items: start center;
  padding-top: 30px;
}

.selected-alert-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
