@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-color: #B50013;
  --secondary-color: #113743;
  --accent-color-black: #181A1B;
  --accent-color-white: #E4E3DB;
  --titles-important: 'Poppins', sans-serif;
  --subtitles: 'Merriweather Sans', sans-serif;
  --text: 'Hind Madurai', sans-serif;
}
/*
 * Notebook.css
 */


.tablero{
  /*Grid*/
  background: var(--accent-color-white);
  display: grid;
  grid-template-rows: repeat(4, 150px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: row;
  padding: 20px;
  width: 100%;

  /*style*/
  overflow: hidden;
  color: #000;
}

.notebook {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
	color: var(--accent-color-white);
  background-color: var(--secondary-color);
  border-radius: 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.notebook:hover{
  opacity: 0.5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}


h4 {
	font-size: 3vh;
  font-family: var(--titles-important);
  color: var(--accent-color-white);
}

p {
  font-size: 2vh;
  font-family: var(--subtitles);
  color: var(--accent-color-white);
}

.add-notebook {
  background-color: rgb(150, 150, 150);
}

.add-notebook:hover {
  background-color: rgba(150, 150, 150, 0.8);
}

.link{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
