*, *::before, *::after {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 5vh;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

header > h2 {
  color: white;
  font-size: 24px;
  font-family: var(--titles-important);
}

aside {
  position: fixed;
  width: 16.5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

aside > img {
  width: 35%;
  margin-top: 20px;
}

aside > .theme-aside-button {
  border: none;
  color: white;
  font-size: 14px;
  font-family: var(--subtitles);
  background-color: #b50013;
  padding: 10px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.25, 1, 0.30, 1);
  cursor: pointer;
}

aside > .theme-aside-button:hover {
  background-color: var(--accent-color-black);
  transition: ease 0.5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

main {
  position: fixed;
  left: 16.5%;
  width: 83.5%;
  height: 100vh;
  background-color: #E4E3DB;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: start center;
  padding-top: 30px;
}

main > .theme-card {
  width: 90%;
  height: 80%;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

main > .theme-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.theme-card > img {
  width: 90%;
  height: 70%;
  object-fit: cover;
  margin-top: 10px;
}

.theme-info {
  width: 100%;
  height: 30%;
}

.theme-title {
  width: 100%;
  height: 40%;
  display: grid;
  place-items: center;
  color: var(--secondary-color);
  font-family: var(--titles-important)
}

.theme-purchase-info {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.theme-purchase-info > span {
  width: 50%;
  color: var(--secondary-color);
}

.theme-purchase-info > .theme-purchase-button {
  width: 50%;
  display: grid;
  place-items: center;
}

.theme-purchase-button > button {
  padding: 5px 15px;
  border: none;
  color: var(--accent-color-white);
  font-family: var(--subtitles);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.theme-purchase-button > button:hover {
  color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
